.day-view{
    width: 100%;
    padding: 10px;
    direction: rtl;
}

.weekdays-row,
.day-grid{

  width: 100%;
  padding: 10px;
  direction: rtl;
  display: grid;
  text-align: center;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.weekdays-row {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  font-weight: bold;
  padding: 10px;
  font-size: 12px;
}
.weekday{
    font-size: 16px;
}


.day-grid {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    overflow-x: auto;
    gap: 5px;
}


.day,
.day.empty {
  background-color: beige;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid gray;
  min-height: 80px;
}

.day.empty {
  background-color: transparent;
  border: none;
}

.event {
  background-color: #cce5ff;
  margin-top: 5px;
  padding: 2px 3.5wpx 4px;
  border-radius: 4px;
  font-size: 0.85em;
  text-align: center;
}

button {
  margin: 5px 0;
  font-size: 0.8em;
}

.day-view:hover {
  background-color: mediumaquamarine;
  padding: 0.5px 1px 1.5px 2px;
}

@media screen and (max-width: 770px) {
  .days-grid {
    grid-template-columns: repeat(7,
    minmax(60px, 1fr));
    padding: 100px;
    overflow: scroll;
  }
  .weekdays-row{
    font-size: 12px;
  }

  .day {
    min-height: 70px;
    font-size: 12px;
    
  }
  .event{
    font-size: 0.75em;
  }
}